
.vs/Aerothyte/DesignTimeBuild/.dtbcache.v2
.vs/Aerothyte/v16/.suo
obj/Aerothyte.csproj.nuget.dgspec.json
obj/Aerothyte.csproj.nuget.g.props
obj/project.nuget.cache
obj/project.assets.json
obj/Debug/net45/Aerothyte.csprojAssemblyReference.cache
obj/Debug/net45/Aerothyte.assets.cache
obj/Debug/net45/Aerothyte.AssemblyInfoInputs.cache
obj/Debug/net45/Aerothyte.AssemblyInfo.cs
obj/Aerothyte.csproj.nuget.g.targets
